.text-field {
    -fx-accent: blue;
    -fx-background-color: grey, white;
    -fx-background-insets: 0, 0 2 2 0;
    -fx-background-radius: 8;
}
.text-field:focused {
    -fx-background-color: blue, white;
}

.card {
    -fx-border-color: lightgrey;
    -fx-border-radius: 35;
    -fx-background-radius: 35;
    -fx-background-color: #3C3C3C;
}

.container {
    -fx-background-color: #232323;
}

.hyperlink:visited{
    -fx-text-fill: #1895c8;
    -fx-border-color: #3C3C3C;
    -fx-underline: false;
}
.hyperlink:pressed{
    -fx-text-fill: #1895c8;
    -fx-border-color: #3C3C3C;
    -fx-underline: false;
}
.hyperlink:hover{
    -fx-text-fill: #28a5e8;
    -fx-border-color: #3C3C3C;
    -fx-underline: false;
}
